<h1>Edit Movie</h1>

<%= form_with model: @movie, local: true do |form| %>
  <% if @movie.errors.any? %>
    <div>
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :overview %>
    <%= form.text_area :overview %>
  </div>

  <div>
    <%= form.label :poster_url %>
    <%= form.text_field :poster_url %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.submit 'Update Movie' %>
  </div>
<% end %>

<%= link_to 'Back to Movies', movies_path %>
