<h1><%= @movie.title %></h1>

<p><strong>Overview:</strong> <%= @movie.overview %></p>
<p><strong>Rating:</strong> <%= @movie.rating %></p>
<p><strong>Poster:</strong> <%= image_tag @movie.poster_url if @movie.poster_url.present? %></p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Movies', movies_path %>

<h1>List of Movies</h1>

<% @movies.each do |movie| %>
  <div class="movie">
    <h2><%= movie.title %></h2>
    <p><%= movie.overview %></p>
    <p><strong>Rating:</strong> <%= movie.rating %></p>
    <p><strong>Poster:</strong> <%= image_tag movie.poster_url if movie.poster_url.present? %></p>
    <%= link_to 'Show', movie_path(movie) %> |
    <%= link_to 'Edit', edit_movie_path(movie) %> |
    <%= link_to 'Delete', movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to 'Add New Movie', new_movie_path %>
